html {
	background: url("img/1558291399-sans-titre.png") no-repeat center fixed;
	background-size: cover;
	box-sizing: content-box border-box;
	height: 100%;

}

body {
	color: black;
	font-family: sans-serif;


}


h1
{
	text-align: center;
}

div
{
	text-align: center;
}

label 
{
	color: red;
	display: block;
	width: 0px;
	box-shadow: 15px 7px  7px red;
}

.createur {
	text-align: center;
}

.name 
{
	border-radius: 3px 0;

}



@media screen and (min-width: 180px) and (max-width: 720px) {
	h1 
	{
		width: auto;

	}

	label 
	{
		display: inline-block;
		text-align: left;
		margin-left: 2px;
	}

	.name
	{
		margin-left: 3px;
	}
}


